# Nro de puerto
PORT=8080

# Url de mongo atlas
MONGODB_URL=

# secret para JWT 
SECRET_PRIVATE_KEY=

# GOOGLE LOGIN
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=

# Nodemailer
NODEMAILER_EMAIL=
NODEMAILER_EMAIL_ADMIN=
NODEMAILER_PASS=

# Claudinary API Environment variable
CLOUDINARY_URL=