<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head.ejs') %>
	<body>
		<%- include('partials/navBar.ejs') %>
		<section class="container d-flex justify-content-center align-items-center">
			<%- include('partials/products/getProductById.ejs') %>
		</section>
		<%- include('partials/footer.ejs') %>
	</body>
</html>
