<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head.ejs') %>
	<body>
		<%- include('partials/navBar.ejs') %>
		<main class="container">
			<h1 class="fs-1 text-center mb-3">🔥 Proyecto Final Backend 🔥</h1>
			<h3 class="fs-3 text-center text-primary">Demo APIRest Ecommerce</h3>

			<hr />
			<%- include('partials/products/getAllProducts.ejs') %>
		</main>
		<%- include('partials/footer.ejs') %>
	</body>
</html>
