<footer class="container mt-4 bg-dark rounded-top">
	<section class="d-flex justify-content-around align-items-center pt-2">
		<div class="text-light">
			<a
				class="nav-link"
				href="mailto:martin.f.yic@gmail.com"
				>Martin Ferreira Yic ✉️</a
			>
		</div>
		<div class="text-light">API Rest proyecto curso backend coderhouse</div>
		<div class="text-light d-flex gap-5">
			<a
				class="btn btn-primary nav-link px-3"
				target="_blank"
				href="https://github.com/martinfyic/proyecto-nodejs-ecommerce"
			>
				GitHub
			</a>
			<a
				class="btn btn-primary nav-link px-3"
				target="_blank"
				href="https://www.linkedin.com/in/martin-ferreira-yic/"
			>
				Linkedin
			</a>
		</div>
	</section>
	<hr class="mx-4 text-light" />
	<div class="container text-light text-center">
		Todos los derechos reservados &copy; 2023 ⚡
	</div>
</footer>
