<header class="container mb-4">
	<nav class="navbar navbar-dark navbar-expand-lg bg-dark rounded-bottom px-3">
		<div class="container">
			<a
				class="navbar-brand text-light"
				href="/products"
			>
				#Logo</a
			>
			<div
				class="collapse navbar-collapse"
				id="navbarNavAltMarkup"
			>
				<div class="navbar-nav">
					<a
						class="nav-link"
						aria-current="page"
						href="/products"
						>Home</a
					>
					<a
						class="nav-link"
						href="/carts"
						>Carritos</a
					>
					<a
						class="nav-link"
						href="../../chat.html"
						>Chat 💬</a
					>
				</div>
			</div>
		</div>
	</nav>
</header>
